{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Configuration Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
    breadcrumb: {
    'Plugins': {
    'url': url('admin_plugin_list')
    },
    ('Paymill'): {
    'active': true
    }
    }
    }
    %}
{% endblock breadcrumb %}


{% block content %}
    <form class="form" method="POST">
        <fieldset>
            <div class="col-1-3">
                <h2 class="fw-n">Paymill Setup</h2>
                <a target="_blank" href="https://app.paymill.com/user/login">Go to paymill dashboard</a>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <label for="paymill_private_key">{{ 'Paymill secret key'|trans }}</label>

                            <input id="paymill_private_key" type="text" name="paymill_private_key" value="{{ plugin.configuration['paymill_private_key'] }}" placeholder="25fc3ddba681b895cc01829579935edb" />
                        </li>
                        <li>
                            <label for="paymill_public_key">{{ 'Paymill public key'|trans }}</label>

                            <input id="paymill_public_key" type="text" name="paymill_public_key" value="{{ plugin.configuration['paymill_public_key'] }}" placeholder="778939504908b75993cd18dc8ed5a875" />
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary">{{ 'Save'|trans }}</button>
            </div>
        </fieldset>
    </form>
{% endblock content %}
